
label, input[type=submit], input[type=text], input[type=email], textarea{
	display: block;
}
textarea{
	width: 300px;
	height: 80px;
	border-style: groove;
	border-width: 3px;
	border-color: #0040FF;
	font-family: arial;
	margin-top: 3px;
}
input[type=submit]{
	background: #BDBDBD;
	color: #000000;
	padding: 4px;
	cursor: pointer;
	border: 0;
	margin: 3px 0 3px 0;

}
input[type=submit]:hover{
	background: #FF8000;
	transition: 1s;
    

}
    

}

input[type=text]{
	border-style: groove;
	border-width: 3px;
	border-color: #0040FF;
}	
input[type=email]{
	border-style: groove;
	border-width: 3px;
	border-color: #0040FF;




}
