body ul li a.bottom{

margin: 10px auto;

text-decoration: none;

color: #000;

padding: 5px 10px;

border-radius: 5px;

-webkit-border-radius: 5px;

-moz-border-radius: 5px;

background: #ddd;

color: #111;

font-family: calibri;

text-transform: uppercase;

font-weight: bold;

}

 

a.bottom:hover{

background: #f90;

color: #fff;

}